@keyframes scolari{
    from{
        height: 25%;
        width: 10%;
        background-color: bisque;
    }
    
    to{
        height: 8%;
        width: 35%;
        background-color: rgb(27, 27, 27);
    }
}

@keyframes oranger {
    from{
        color: bisque;
    }

    to{
        color: orange;
    }
}
@keyframes bluer {
    from{
        color: bisque;
    }

    to{
        color:  dodgerblue;
    }
}
@keyframes golder {
    from{
        color: bisque;
    }

    to{
        color: gold;
    }
}

body{
    background-color:rgb(27, 27, 27);
    color: bisque
}

p{
    
}

img{ 
    display: flex;
    width: 20%;
    height: 15%;
    border-radius: 500px;
}

.fotoPessoal h1{
    display: flex;
    position: relative;
    width: 20%;
}

.fotoPessoal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.escolaridade{
    position: absolute;
    top: 60px;
    padding-top: -100%;
    height: 25%;
    width: 10%;
    left: 0px;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: scolari;
    animation-duration: 4s;
    animation-iteration-count: 1;
    height: 10%;
    width: 35%;
    background-color: rgb(27, 27, 27);
    #senac1 {
        animation-name: oranger;
        animation-duration: 10s;
        color: orange;
    }
    #senac2 {
        animation-name: bluer;
        animation-duration: 10s;
        color: dodgerblue;
    }

    #uniasselvi {
        animation-name: golder;
        animation-duration: 10s;
        color: gold;
    }

}
.exp{
    visibility: hidden;
    position: absolute;
    top: 300px;
    height: 25%;
    width: 10%;
    left: 0px;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hobbies{
    height: 10%;
    width: 10%;
    left: 0px;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: scolari;
    animation-duration: 4s;
    animation-iteration-count: 1;
    height: 10%;
    width: 35%;
    background-color: rgb(27, 27, 27);
}

.redesSociais a{
    color: bisque;
}

.redesSociais{
    height: 10%;
    width: 10%;
    left: 0px;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.redesSociais:hover{
    animation-name: scolari;
    animation-duration: 4s;
    animation-iteration-count: 1;
    height: 10%;
    width: 35%;
    background-color: rgb(27, 27, 27);
}

.scolaridade{
    position: absolute;
    top: 10px;
}