@keyframes scolari{
    from{
        height: 25%;
        width: 10%;
        color: rgb(27, 27, 27);
        text-align: left;
    }
    
    to{
        height: 8%;
        width: 35%;
        background-color: rgb(27, 27, 27);
        color: bisque;
        text-align: center;
    }
}


@keyframes hobi{
    from{
        height: 25%;
        width: 5%;
        color: rgb(27, 27, 27);
        text-align: end;
    }
    
    to{
        height: 8%;
        width: 20%;
        background-color: rgb(27, 27, 27);
        color: bisque;
        text-align: center;
    }
}

@keyframes oranger {
    from{
        color: bisque;
    }

    to{
        color: orange;
    }
}
@keyframes bluer {
    from{
        color: bisque;
    }

    to{
        color:  dodgerblue;
    }
}
@keyframes golder {
    from{
        color: bisque;
    }

    to{
        color: gold;
    }
}

@keyframes rangeRover{
    from{
        background-color: bisque;
    }

    to{
        background-color: rgb(27, 27, 27);
    }
}

body{
    background-color:rgb(27, 27, 27);
    color: bisque
}

.fotoPessoal img{ 
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 500px;
}

.fotoPessoal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.escolaridade{
    position: sticky;
    left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: scolari;
    animation-duration: 4s;
    animation-iteration-count: 1;
    height: 10%;
    width: 35%;
    background-color: rgb(27, 27, 27);
    text-align: center;
    #senac1 {
        animation-name: oranger;
        animation-duration: 10s;
        color: orange;
    }
    #senac2 {
        animation-name: bluer;
        animation-duration: 10s;
        color: dodgerblue;
    }

    #uniasselvi {
        animation-name: golder;
        animation-duration: 10s;
        color: gold;
    }

}

.xp{
    top: 200px;
    left: 125px;
}

.exp{
    position: absolute;
    top: 250px;
    height: 10%;
    width: 20%;
    left: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: bisque;
}

.exp:hover{
    animation-name: rangeRover;
    background-color: rgb(27, 27, 27);
    animation-duration: 1s;
}

.hobbies{
    position: absolute;
    right: 80px;
    top: 50px;
    height: 10%;
    width: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: hobi;
    animation-duration: 4s;
    animation-iteration-count: 1;
    height: 10%;
    width: 20%;
    background-color: rgb(27, 27, 27);
    text-align: center;
}

.redesSociais img{
    width: 20px;
    padding-right: 10px;
}

.redesSociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 20%;
    left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    position: absolute;
    bottom: 100px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scolaridade{
    top: 10px;
    left:200px;
}

.robin{
    position: absolute;
    top: 10px;
    right: 200px;
}

.redes{
    position: relative;
}